<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Photo Album</title>
    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/html" id="albumTmpl">
      <article id="<%= name%>" class="photo-album">
        <img src="<%= photos[0].url %>">
        <h3><%=name%></h3>
      </article>
    </script>
    <script type="text/html" id="navTmpl">
      <a href="" rel="<%=name%>"><%=name%></a>
    </script>
  </head>
  <body>

<div id="start" class ="activeSection">
<header>
  <h1>My Mess Their Kitchen Culinary Adventures</h1>
</header>

<section id="home">
</section>
</div>

<div id="single_album">
<aside>
</aside>
<section id="photos">
</section>
</div>

<div id="single_photo">
  <section id="single_picture">
</section>
</div>

    <script src="bower_components/underscore/underscore.js" charset="utf-8"></script>
    <script src="bower_components/jquery/dist/jquery.js" charset="utf-8"></script>
    <script src="albums.js" charset="utf-8"></script>
    <script src="main.js" charset="utf-8"></script>
  </body>
</html>
