$backBlue : #036;
$textBlue : #9cf;


body{
  text-align: center;
  font-family: helvetica, sans-serif;
}

img{
  border-radius: 2px;
}

header {
  background-color: $backBlue;
  color: $textBlue;
  min-height: 100px;
  h1{
    text-align: center;
    margin-top:0;
    padding-top: 30px;
  }
}

div {
  display: none;
}
#home{
  width: 95%;
  margin: 0 auto;
  article{
    width: 30%;
    display: inline-block;
    margin: 10px;
    box-shadow: 10px 10px 10px gray;
    img{
      width: 100%;

    }
    h3{
      text-align: center;
      background-color: $backBlue;
      color: $textBlue;
      margin-top: -5px;
      margin-bottom: 0;
      height: 50px;
      padding-top: 22px;
      border-radius: 2px;

    }
  }
}


aside {
  width: 20%;
  background-color: $backBlue;
  text-align: center;
  height: 550px;
  display: inline-block;
  vertical-align: top;
  padding-top: 200px;
  border-radius: 2px;
  a{
    display: block;
    margin: 10px auto;
    background-color: white;
    border-radius: 3px;
    text-decoration: none;
    width: 75%;
    text-align: center;
    font-size: 24px;
    color: $backBlue;
    &:hover{
      background-color: #E1E1E1;
    }
  }
}

.activeSection{
  display: inline-block;
}

.photo-album {
  vertical-align: top;
}

#single_album{
  width: 100%;
}
#photos{
  width: 75%;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  h1{
    margin-bottom: 110px;
    color: $backBlue;
    font-size: 56px;
  }
  img{
    width: 100%;
    box-shadow: 10px 10px 10px gray;
    &:hover{
      box-shadow: 10px 10px 10px $textBlue;
    }
  }
  article{
    display: inline-block;
    width: 30%;
    margin:0 10px;
    color: $backBlue;
  }
}

#single_picture{
  #current, #previous, #next{
    display: inline-block;
    vertical-align: middle;
  }

  #current{
    width: 60%;

  }

  #previous{
    //padding-right: 25px;
    background-color: $backBlue;
    padding: 4px 0px;
    border-radius: 8px;
    color: $textBlue;
    margin-right: 25px;
    width: 10%;
    box-shadow: 4px 4px 4px gray;
  }

  #next{
    padding-left: 25px;
    background-color: $backBlue;
    padding: 4px 0px;
    border-radius: 8px;
    color: $textBlue;
    margin-left: 25px;
    width: 10%;
    box-shadow: 4px 4px 4px gray;
  }

  section{
    margin-bottom: 20px;
    position: relative;
    h1{
      margin: 0;
      color: $backBlue;
      font-size: 56px;
    }
  }
  img{
    width: 100%;
    box-shadow: 10px 10px 10px gray;
  }
  a{
    vertical-align: top;
    text-decoration: none;
    padding: 4px 10px;
    background-color: $backBlue;
    border-radius: 8px;
    color: $textBlue;
    position: absolute;
    left: 20%;
    top: 80%;
    box-shadow: 4px 4px 4px gray;
  }
}

@media (max-width: 700px){
  aside{
    a{
      font-size: 16px;
    }
  }
}


@media(max-width: 500px){
  aside{
    a{
      font-size: 12px;
    }
  }
}
