body{
  text-align: center;
}

img{
  border-radius: 2px;
}

header {
  background-color: gray;
  color: white;
  min-height: 50px;
  h1{
    text-align: center;
    margin-top:0;
  }
}

div {
  display: none;
}
#home{
  width: 95%;
  margin: 0 auto;
  article{
    width: 30%;
    display: inline-block;
    margin: 10px;
    img{
      width: 100%;

    }
    h3{
      text-align: center;
      background-color: blue;
      color: white;
      margin-top: -5px;

    }
  }
}

/*header, #home{
  display: none;
}*/
aside {
  width: 20%;
  background-color: red;
  text-align: center;
  height: 500px;
  display: inline-block;
  vertical-align: top;
  padding-top: 100px;
  border-radius: 2px;
  a{
    display: block;
    margin: 10px auto;
    background-color: white;
    border: 2px solid gray;
    border-radius: 3px;
    text-decoration: none;
    width: 75%;
    text-align: center;
    font-size: 24px;
    color: black;
  }
}

.activeSection{
  display: inline-block;
}

.photo-album {
  vertical-align: top;
}

#single_album{
  width: 100%;
}
#photos{
  width: 75%;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  img{
    width: 100%;
  }
  article{
    display: inline-block;
    width: 30%;
    margin:0 10px;
  }
}

#single_picture{
  img{
    width: 50%;
  }
  a{
    vertical-align: top;
  }
}

@media (max-width: 700px){
  aside{
    a{
      font-size: 16px;
    }
  }
}


@media(max-width: 500px){
  aside{
    a{
      font-size: 12px;
    }
  }
}
